<div style="margin-bottom: 13px;">
<div>#################### Counter Management #############</div>    
<button (click)="updateCount(1)">Increment</button>

<div>Current Count: {{ count$ | async }}</div>
<div style="display: flex;">
<div style="width:20%"><button  (click)="updateCount(2)">Decrement</button></div>
<button  (click)="updateCount(3)">Reset Counter</button>
</div>

</div>  

################### Customer Profile Management #################


<app-customers-view></app-customers-view>
<app-customer-add></app-customer-add>